h1{
    color:blue;
    font-size: 50px;
    /*si quieres aplicar margen(primer numero es margen de arriba y abajo, el otro es izquierda y derecha*/
    margin: 100px 100px;
}
h2{
    color:violet;
    /*si quieres aplicar margen a cada lado(arriba, derecha abajo izquierda)*/
    margin: 100px 50px 25px 30px;
    background: slategray;
    /*si quieres aplicar margen interno*/
    padding: 25px;
}

/* formas de ponerle estilos */
/* si quieres que todos los "aches* tengan el mismo estilo (h1,h2,h3)/
/* si quieres que una única etiqueta tenga su propio estilo*/
#unico{
    color:red;
}
/*si quieres que el estilo se aplique y se herede*/
.azul{
    color:blue;
}
.fondo{
    background: black
}
.columna{
    color:white;
    background:orchid;
    width: 25%;
    margin:20px;
}
.a{
    display: inline-block;
    background:black;
    color: white;
}
.padre{
    display: flex;
}

.nav-enlace{
    background: salmon;
    color:white;
    padding: 10px 30px;
    text-decoration: none;  
}
/*para que al momento de pasar el cursor cambie de color el fondo de la etiqueta*/
.nav-enlace:hover{
    background:rosybrown;
}
/*para que al momento de clickear cambie de color*/
.nav-enlace:active{
    background: yellow;
}
.nav-padre{
    background: salmon;
    display: flex;
    justify-content: space-around;
}